body {
    background: #2D3540;
    color: aliceblue;
    margin: 0;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.top-nav-bar ul li {
    list-style: none;
    float: right;
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 5px;
}

.top-nav-bar ul li a {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 13px;
    color: #CBC9CB;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
    display: block;
    padding-top:4px;
}

.top-nav-bar ul li a:hover {
    border-bottom: 3px solid rosybrown;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-size: 30px;
    font-family: Aharoni;
    color: lightcoral;
    padding-top:6px;
    padding-left: 30px;
}

.top-bar {
    margin-top: 30px;
    position: fixed;
    width: 100%;
}

.banner {
    height: 700px;
    background-position: center center;
    background-size: cover;
    background-image: url(./img/banner.jpg)
}
